###############################################################################
# Ignore these directories
###############################################################################
dist
node_modules
coverage

###############################################################################
# Ignore these files
###############################################################################
Thumbs.db
*.log*
*~
.*

###############################################################################
# Accept these files
###############################################################################
!.editorconfig
!.eslintrc.json
!.gitignore
!.prettierrc
!.npmignore
!.eslintignore
