###############################################################################
# Ignore these directories
###############################################################################
src
test

###############################################################################
# Ignore these files
###############################################################################
.editorconfig
.eslintrc.json
.gitignore
.prettierrc
jest.config.js
tsconfig.json
eslint.json
