###############################################################################
# Ignore these directories
###############################################################################
src

###############################################################################
# Ignore these files
###############################################################################
.*
jest.config.ts
tsconfig.json
